<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PasswordGenerator.Properties.Settings>
            <setting name="AllowLowercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequireLowercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequireUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequireNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowSpecial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequireSpecial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUnderscore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireUnderscore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowOther" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireOther" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Other" serializeAs="String">
                <value />
            </setting>
            <setting name="MinLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxLength" serializeAs="String">
                <value>12</value>
            </setting>
        </PasswordGenerator.Properties.Settings>
    </userSettings>
</configuration>